ul {
  list-style-type: none;
  overflow: hidden;
}

footer ul {
    background-color: lightgrey;
}

li {
    float: left;
}

li.right {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a {
    color: #333;
}

footer ul li a {
    color: #333;
}

.active {
    border-bottom: 5px solid #4CAF50;
}

.center-container {
    padding: 30px;
    height: 70%;
    width: 100%;
    display: table;
}

.center {
    margin: auto;
    width: 60%;
    height: 60%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

.border-bottom {
    border-bottom: 1px solid darkgrey;
}

.search-box {
    width: 50%;
}

.search-input {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 70%;
    border-radius: 25px;
    font-size: 1em;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(211,211,211,1);
    -moz-box-shadow: 5px 5px 5px 1px rgba(211,211,211,1);
    box-shadow: 5px 5px 5px 1px rgba(211,211,211,1);
}

.search-controls {
    margin-top: 20px;
}

.search-controls button {
    padding: 10px;
}

.border-right {
    border-right: 1px solid #333;
}

.links-inline a {
    display: inline-block;
    padding: 14px 0px;
}

.location {
    margin-left: 16px;
}

.number-of-results {
    color: darkgray;
    padding: 5px;
    margin: 5px;
}

.result {
    margin: 10px;
    width: 50%;
}

.result .title {
    color: blue;
    margin-bottom: 5px;
}

.result .url a {
    color: green;
    text-decoration: none;
}

.ad {
    color: green;
    border: 1px solid green;
}